# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build & Dist
dist/
build/
out/
.next/

# Environment Variables
.env
.env.local
.env.*.local

# IDE & Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python / General
__pycache__/
*.py[cod]

# Scratch
scratch/
.venv/
env/
venv/
